/* Establecemos la base del estilo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  header {
    background-color: #333;
    color: white;
    padding: 20px;
    text-align: center;
  }
  
  h1, h2 {
    margin: 0;
    padding: 0;
  }
  
  /* Estilo para el contenedor principal */
  main {
    padding: 20px;
  }
  
  /* Formulario de reserva */
  form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
  }
  
  label {
    font-size: 16px;
    margin-bottom: 8px;
    display: block;
  }
  
  input, select, button {
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    background-color: #4CAF50;
    color: white;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #45a049;
  }
  
  /* Estilo para la lista de citas disponibles */
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    margin-bottom: 10px;
    background-color: #fff;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
  
  footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
  }
  
  /* Estilo para la página de disponibilidad de citas */
  h2 {
    margin-bottom: 20px;
  }
  
  footer p {
    margin: 0;
  }
  
  